body{
  background-image: url("../images/art-background4.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container1{
  background-color: white;
  position: absolute;
  left: 180px;
  padding: 30px 90px 70px 30px;
}

h1{
  font-family: 'Six Caps', sans-serif;
  font-size: 90px;
}

.container1 p{
  font-family: "Gill Sans", sans-serif;
  font-size: 20px;
  font-weight:600;
  line-height: 25px;
}

.container2{
  position: absolute;
  left: 180px;
  top: 20em;
  width: 50em;
}

.container2 h2{
  background: rgba(255, 255, 255, 0.7);
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.container2 h3{
  background: rgba(255, 255, 255, 0.3);
  padding: 0.5em;
  font-family: "Times New Roman";
  font-size: 40px
}

.container3 {
  background: rgba(255, 255, 255, 0.3);
  padding: 2em;
}

.container4{
  color: white;
  font-size: 30px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.4);
  padding: 1em;
}

.container5{
  font-size: 25px;
  background: rgba(255, 255, 255, 0.9);
  padding: 1.8em;
}

.container5 ul{
  display: flex;
  padding: 0 1em;
  list-style: none;
  display: inline;
}

.container5 li{
  display: inline;
}

.container5 a{
  padding: 0.25em;
}

a:link{
  text-decoration: none;
  border-bottom: 1px dotted;
}

.container5 img{
  width: 20px;
  height: 20px;
}
